{
  "env": {
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "plugins": [
    "node"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended"
  ],
  "rules": {
    "no-multi-spaces": ["error"],
    "node/exports-style": ["error", "module.exports"]
  }
}
