{
  "env": {
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "plugins": [
    "node",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "node/no-unsupported-features": 0,
    "no-multi-spaces": ["error"],
    "node/exports-style": ["error", "module.exports"]
  }
}
